:root {
  /* Color Theme */
  --primary-color: #eaab00;
  --secondary-color: #ffffff;
  --accent-color: #fafa46;
  --text-color: #fefefe;
  --text-hover: #1d1d1d;
  --bg-color: #000000;

  /* Font Theme */
  --primary-font: "Heebo", sans-serif;

  /* Font Size Theme */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;

  /* Font Weight Theme */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--font-regular);
  font-size: var(--text-sm);
  line-height: 1.6;
  background-color: var(--bg-color);
}

p {
  font-family: var(--primary-font);
  font-weight: var(--font-regular);
  font-size: var(--text-base);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  font-family: var(--primary-font);
  font-weight: var(--font-regular);
  line-height: 1.2;
  color: var(--text-color);
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--primary-color);
}

.btn {
  position: relative;
  font-family: var(--primary-font);
  font-weight: var(--font-medium);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  min-width: 180px;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 1rem;
  overflow: hidden;
  outline: 2px solid var(--primary-color);
  -webkit-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;
}
.btn:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  outline: 2px solid #d19901;
  -webkit-box-shadow: 4px 5px 17px -4px #c49000c0;
  box-shadow: 4px 5px 17px -4px #c49000c0;
}
.btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #d19901;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  z-index: -1;
  -webkit-transition: width 1000ms;
  -o-transition: width 1000ms;
  transition: width 1000ms;
}
.btn:hover::before {
  width: 250%;
}
.btn-outlined {
  position: relative;
  font-family: var(--primary-font);
  font-weight: var(--font-medium);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  color: var(--text-color);
  background-color: transparent;
  min-width: 180px;
  text-decoration: none;
  outline: none;
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-outlined:hover,
.btn-outlined:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--text-hover);
}

.primary-highlight {
  color: var(--primary-color);
}
.accent-highlight {
  color: var(--accent-color);
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/landing-bg.webp");
  background-position: top left;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

main {
  position: relative;
  display: block;
}

.logo {
  display: block;
  margin-bottom: 4rem;
}
.logo img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  mix-blend-mode: lighten;
}

.description {
  display: block;
  text-align: center;
}
.description p {
  font-size: 28px;
  letter-spacing: 3px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer a {
  font-size: var(--text-xs);
  margin: 0 0.75rem;
}
